@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        @apply font-mono bg-[url('/wall.png')]
    }

    body {
        @apply h-screen w-screen m-0
    }

    /* 
        html {
            overflow: hidden;
            height: 100%;
        }

        body {
            overflow: auto;
            height: 100%;
        }
    */
  }