@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        @apply font-sans bg-[url('/wall.png')]
    }

    body {
        @apply h-screen w-screen m-0
    }

    /* 
        html {
            overflow: hidden;
            height: 100%;
        }

        body {
            overflow: auto;
            height: 100%;
        }
    */
  }
.border_lean{
    @apply border hover:ring-purple-300 hover:outline-none hover:ring hover:ring-opacity-40 hover:border-purple-400 focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40

}